@import "includes/_variables";
@import "includes/_typography";

@import "includes/_lightbox";
@import "includes/_bootstrap-components";

@import "includes/_answer-your-body-page";
@import "includes/_all-the-latest-page";

body {
  background-color: $bg-color;
}
.container {
  max-width: 1200px;
}

.image-container {
  margin-bottom: $gap;
  img {
    width: 100%;
  }
}
.with-red-border {
  border-bottom: 4px solid $red-color;
}

.with-white-border {
  border-bottom: 1px solid $white-color;
}

a.link {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid $red-color;
  transition: all $transition-time;
  &:hover {
    color: $red-color;
  }
}
